.card-pokemon{
  box-shadow: 0 0 0 rgb(255, 255, 255);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(247, 245, 243);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.863);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.904);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(252, 252, 252);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgb(255, 255, 255);
      box-shadow: 0 0 0 10px rgb(248, 248, 248);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgb(248, 248, 248);
      box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
}
